$height: 110px;
$space: 10px;
$linkColor: #259293;
$fontSize: 18px;
$zoomWidth: 150px;
$scoreWidth: 120px;
$filterColor: #008080;

@mixin display-flex($flex-direction: column, $justify-content: flex-start, $align-items: start){
  display: flex;
  align-items: $align-items;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
}
